<script>
import Vue from 'vue';
import PurpleBox from '@/purple-box.vue';

export default Vue.extend({
  name: 'ServeDev',
  components: {
    PurpleBox
  }
});
</script>

<template>
  <div id="app">
    <purple-box />
  </div>
</template>
